@import '_utilities';

html {

}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  background: url(/assets/img/bg.gif) no-repeat center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 700 !important;
  font-size: 30px;
  margin: 40px 0 40px 5px;
  color: #151515;
}

h2 {
  font-weight: 600 !important;
  font-size: 38px;
  margin-bottom: 0;
}

.inline-input-wrapper {
  width: 100%;
  max-width: 430px;
  display: inline-flex;
  &>mat-form-field {
    margin-right: 20px;
  }
}

.logo-img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.top-logo {
  margin-top: 50px;
  width: 250px;
}

.grey-link {
  color: #3f3f3f;
  font-weight: 800;
  cursor: pointer;
}

.grey-link:hover {
  text-decoration: underline;
}

.text-link:hover {
  cursor: pointer;
}


.extra-small {
  font-size:.6rem;
}




@media screen and (max-width: 450px) {
  .inline-input-wrapper {
    display: inline-block;

    &>mat-form-field {
      width: 100%;
      max-width: 430px;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 340px) {
  h1 {
    font-weight: 700 !important;
    font-size: 30px;
    margin: 20px 0 20px 5px;
    color: #151515;
  }
}
