<mat-progress-bar mode="indeterminate" *ngIf="actsLoading"></mat-progress-bar>
<!--The content below is only a placeholder and can be replaced.-->
<app-menu [actsType]="actsType"></app-menu>
<div class="act-page-container">
  <!--<h2>Today</h2>-->
  <div class="act-list" align="center">
    <app-act-display *ngFor="let act of acts?.data" [act]="act"></app-act-display>
  </div>


</div>



<div *ngIf="acts?.data && !acts.data.length" align="center" class="pt-4 mt-4">
  <h1 class="mt-4 pt-4">Nothing Found</h1>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>
<div align="center" *ngIf="isAppending">
  <mat-spinner diameter="25" strokeWidth="2"></mat-spinner>
</div>
<div align="center" *ngIf="noMoreActs">
  <h4 class="gray-text">No more acts</h4>
</div>
