.act-page-container {
  margin-top: 60px;

  h2 {
    font-size: 33px;
    font-weight: 800;
  }
}


@media screen and (max-width: 1300px) {
  .act-page-container {
    margin: 0;
    padding: 5px;
  }

  .logo-img, .top-logo {
    display: none;
  }
  
}
