.add-act-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .top-logo {
    width: 150px;
    margin: 25px 0 0 0
  }

  p.addact {
    font-size: 16px;
    font-family: "Open Sans", sans-serif !important;
  }

  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px 150px;
    background: none !important;
    box-shadow: none !important;
  }
}


form {
  mat-form-field {
    font-family: "Open Sans", sans-serif !important;
  }

  .custom-red-color {
    font-weight: 800;
  }

  .duration-row {
    display: flex;
  }

  mat-form-field {
    width: 100%;
  }
}

.form-row {
  display: flex;
  align-items: baseline;

  div {
    display: flex;
    align-items: baseline;
  }

  * {
    margin-right: 10px;
    flex-shrink: 5;
  }

  .price-row {
    width: 90px;
    margin-right: 30px;
  }

  .price-amount {
    width: 120px;
    margin-right: 10px;
  }

  .price-method {
    width: 120px;
  }
}

.number {
  max-width: 5rem;
}

.pbg {
  text-align: right;
  top: -18px;
  position: relative;
}

.image-drop-place {
  width: 100%;
  min-height: 150px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border: 1px solid gray;
  border-radius: 10px;

  font-size: 24px;
  cursor: pointer;

  mat-icon {
    margin-bottom: 30px;
    font-size: 40px;

  }

  p {
    margin: 0;
  }
  
  
      .uploaded-image {
      max-width: 200px;
      max-height: 150px;
    }

}

p.imagehint {
  font-size: 11px;
  margin-top: .3em;
  margin-left: 10px;
}

.round-button {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 15px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
}

.red-submit-button {
  text-align: center;
  margin: 35px;
  }

@media screen and (max-width: 750px) {
  .add-act-container {

    mat-card {
      width: calc(100% - 20px);
      max-width: 400px;
      padding: 20px 10px;
    }

  }
}

@media screen and (max-width: 450px) {
  .age-wrapper {
    display: block;

  }
}

@media screen and (max-width: 400px) {
  .form-row {
    display: table;

    .price-row {
      width: 200px;
      margin-top: 30px;
    }

    .price-amount {
      width: 182px;
    }

    .price-method {
      width: 200px;
    }
  }
  }


.image-upload > input
{
    display: none;
}
