<div class="date-alias"><h1>{{ viewDateAlias }} {{ aliasCount }}</h1></div>
<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="act-wrapper">
  <div class="img-wrapper">
    <img [routerLink]="['/events', act.slug]" src="{{ storageLink+'/'+act.image }}" alt="">
  </div>
  <div class="content-wrapper">
    <div class="content-header">
      <button mat-icon-button [matMenuTriggerFor]="menu">      
      <mat-icon>reply</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a target="_blank" href="https://facebook.com/sharer/sharer.php?u={{ eventPreUrl+'/'+act.slug }}" mat-menu-item>Facebook</a>
        <a target="_blank" href="https://twitter.com/home?status={{ eventPreUrl+'/'+act.slug }}" mat-menu-item>Twitter</a>
        <a target="_blank" href="https://plus.google.com/share?url={{ eventPreUrl+'/'+act.slug }}" mat-menu-item>Google+</a>
      </mat-menu>
      <button mat-icon-button  matTooltip="{{ !logged ? 'You need to be logged in' : ''}}">
      <mat-icon *ngIf="!act.is_bookmarked" (click)="toggleBookmark()">turned_in_not</mat-icon>
      <mat-icon *ngIf="act.is_bookmarked" (click)="toggleBookmark()">bookmark</mat-icon>
      </button>
    </div>
    <div class="act-content" align="left">
      <h2>{{ act.title }}</h2>
      <mat-icon>event</mat-icon> <span class="act-detail">{{ act.date_time | date:'EEEE, MMM d' }} |  {{ act.location?.name }}</span>  <br>
      <mat-icon>location_on</mat-icon> <span class="act-detail">{{ act.location?.address }} | {{ act.date_time | date:'h:mm a' }}</span> <br>
      <mat-icon>info</mat-icon> <a href="http://{{ act.link }}"><span class="act-detail">{{ act.link }}</span></a><br>
      <b>  #</b> <span *ngFor="let tag of act.tags"> {{ tag.title }} </span>
    </div>
    <div class="act-footer">
      <div>
        <span class="act-price">${{ act.price_amount }}</span>
        <div *ngIf="act.ticket_link" class="act-tickets"><a target="_blank" href="{{ act.ticket_link }}"><span>tickets</span></a></div>
        <p class="more-info" [routerLink]="['/events', act.slug]">More info</p>
      </div>
      <div class="author-wrapper">
        <div>
          <span>UPLOADED BY</span> <br>
          <p>@{{ act.user?.username }}</p>
        </div>
        <img src="{{ storageLink+'/'+act.user?.avatar }}" alt="">
      </div>
    </div>
  </div>
</mat-card>

