<!--The content below is only a placeholder and can be replaced.-->
<div class="edit-profile-container">
  <a routerLink="/"><img src="/assets/img/logo.png" alt="" class="top-logo"></a>
  <mat-card>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="profile-header">
        <div *ngIf="!imageUploadMode">
          <p *ngIf="!profile.avatar">
            <mat-icon>account_circle</mat-icon>
          </p>
          <p *ngIf="profile.avatar"><img [src]="storageLink+'/'+profile.avatar" style="height:100px"></p>
          <a (click)="imageUploadMode=true" class="c-pointer"><small class="gray-text">Upload profile image</small></a>
          <p><b>@{{ profile.username }}</b></p>
        </div>

        <div *ngIf="imageUploadMode">
          <div class="image-drop-place">
            <label for="file-input" align="center" class="c-pointer">
        <div class="image-upload">
         
         <div *ngIf="selectedImage">
                  <img *ngIf="uploadedImage" class="uploaded-image" [src]="storageLink+'/'+uploadedImage">
                  <p *ngIf="selectedImage && !uploadedImage">Image is uploading...</p>
                  <br>
                  <p *ngIf="uploadedImage"><small>Change image</small></p>
                  </div>

        <div *ngIf="!selectedImage">
         <mat-icon>cloud_upload</mat-icon>          
        <p>Profile Image</p>
        <p>To select image click here</p>
        </div>
        
                </div>
            </label>
          </div>
          <p>For the best results upload a high res, no text, fresh, clean image</p>


          <input id="file-input" type="file" (change)="onFileChanged($event)" style="display:none" />
        </div>

      </div>
      <app-tag-wrapper (onOutputTags)="outputTags($event)"></app-tag-wrapper>


      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="birth_date"  (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>Add your age to see relevant content</mat-hint>
      </mat-form-field>

      <mat-checkbox formControlName="alcohol">Alcohol</mat-checkbox>

      <mat-checkbox formControlName="food">Food</mat-checkbox>

      <mat-checkbox formControlName="email_notifications">Notification for bookmarks</mat-checkbox>

      <mat-form-field appearance="outline" class="red-input">
        <input matInput placeholder="Email" formControlName="email" type="email" required>
        <mat-label>Email</mat-label>
      </mat-form-field>

      <mat-form-field appearance="outline" class="red-input">
        <input matInput placeholder="Edit password" type="password" formControlName="password">
        <mat-label>Edit password</mat-label>
      </mat-form-field>


      <p class="grey-link" routerLink="/about">About</p>
      <p class="grey-link" routerLink="/terms">Terms</p>
      <p class="grey-link" routerLink="/privacy">Privacy</p>
      <p class="grey-link" routerLink="/feedback">Feedback</p>
      <p class="grey-link" routerLink="/log-in">Logout</p>

      <button mat-button class="red-button round-button" type="submit" [disabled]="profileForm.status=='INVALID'">{{ !profileUpdating ? 'update' : 'updating...' }}</button>

    </form>

  </mat-card>
</div>
