<!--The content below is only a placeholder and can be replaced.-->
<div class="menu-wrapper">
  <div class="menu-header" *ngIf="logged">
    <span><b>@{{ currentUser.username }}</b></span>
    <mat-icon  [matMenuTriggerFor]="userMenu">account_circle</mat-icon>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/log-in">Logout</a>
    </mat-menu>
  </div>
  <div class="menu-header" *ngIf="!logged">
    <span [routerLink]="['/log-in']" class="c-pointer"><b>Log in</b></span>
  </div>
  <div class="menu-content">

    
    <button mat-button [matMenuTriggerFor]="menu" class="my-4">{{ actsType == 'all' ? 'All events' : actsType == 'interests' ? 'My interests' : actsType == 'bookmarked' ? 'My bookmarks' : 'My uploads' }} <mat-icon>unfold_more</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/">All events</a>
      <a mat-menu-item routerLink="/acts/interests" matTooltip="{{ !logged ? 'You need to be logged in' : ''}}">My interests</a>
      <a mat-menu-item routerLink="/acts/bookmarked" matTooltip="{{ !logged ? 'You need to be logged in' : ''}}">My bookmarks</a>
      <a mat-menu-item routerLink="/acts/uploads" matTooltip="{{ !logged ? 'You need to be logged in' : ''}}">My uploads</a>
    </mat-menu>

    <form action="" [formGroup]="searchForm">
      <mat-form-field appearance="outline" class="red-input">
        <span matPrefix> <mat-icon>search</mat-icon>  &nbsp; &nbsp;</span>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" formControlName="keyword">
      </mat-form-field>

      <div class="accordion-wrapper">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title (click)="openPickerPristine()">
                <mat-icon>calendar_today</mat-icon> {{ date.value ? (date.value | date) : 'Date' }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" #date formControlName="date" (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>near_me</mat-icon> {{ distance.value ? distance.value+' km' : 'Distance' }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            

              <p>
              <mat-slider class="example-margin" [max]="50" [min]="1" thumbLabel="true" #distance formControlName="distance" (click)="enableBrowserLocation()">
              </mat-slider> {{ distance.value }} km
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>attach_money</mat-icon> {{ price_max?.value ? price_max.value+' km' : 'Max price' }} 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              {{ price_max?.value }} $
              <mat-slider class="example-margin" [max]="500" [min]="1" thumbLabel="true" #price_max formControlName="price_max">
              </mat-slider>
            </p>
          </mat-expansion-panel>

          <!--<mat-expansion-panel>-->
          <!--  <mat-expansion-panel-header>-->
          <!--    <mat-panel-title>-->
          <!--      <mat-icon>sort</mat-icon> {{ order_by?.value ? (order_by.value=='date_time' ? 'Date' : 'Price') : 'Order by' }}-->
          <!--    </mat-panel-title>-->
          <!--  </mat-expansion-panel-header>-->
          <!--  <p>-->
          <!--    <mat-radio-group formControlName="order_by" #orderBy>-->
          <!--      <mat-radio-button value="date_time">Date-->
          <!--      </mat-radio-button>-->
          <!--      <br>-->
          <!--      <br>-->
                <!--<mat-radio-button value="distance" (click)="enableBrowserLocation()">Nearest-->
          <!--      <mat-radio-button value="price">Price-->
          <!--      </mat-radio-button>-->
          <!--    </mat-radio-group>-->
          <!--  </p>-->
          <!--</mat-expansion-panel>-->
        </mat-accordion>

      </div>

    </form>
  </div>

  <button mat-button class="black-button" [routerLink]="['/add-act']" matTooltip="{{ !logged ? 'You need to be logged in' : ''}}"><span>+</span> Add an Act</button>


</div>

<div class="dark-background" (click)="ToggleMenu()"></div>

<div class="mobile-menu">
  <span>Acts</span>
  <mat-icon (click)="ToggleMenu()" class="menu-icon">menu</mat-icon>
</div>
